{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books" method="POST">
        <fieldset>
            <legend>Add New Book</legend>
            <!-- <label class = "form-label"> Search: </label>
             <input type="text" placeholder="Search.." name="search" class="form-control">
            <label class="form-label">Title: </label> -->
            <input 
                type="text" 
                name="title" 
                placeholder="enter book title"
                class="form-control"
            >
            <label class="form-label">Author:</label>
            <input 
                type="text" 
                name="author" 
                placeholder="enter author" 
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                class="form-control"
            >
            <label class="form-label">Available:</label>
            <input 
                type="checkbox" 
                name="available" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Create New book" class="btn btn-success">
    </form>
</div>
{% endblock %}